@import '@/styles/vars';

.root {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: $text;
  color: $white-text;
  font-size: 40px;
  height: 112px;
  min-height: 112px;
  width: 100%;
  border: 1px transparent;
  &:before, &:after {
    content: "";
    background: #EAF2F6;
    position: absolute;
    left: 30%;
    transition: 100ms;
    height: 0;
  }

  &:before {
    width: 18px;
    top: 0;
  }

  &:after {
    width: 9px;
    bottom: 0;
  }

  &:hover {
    &:before, &:after {
      height: 9px;
    }
  }
}
