@mixin gradientPseudoBorder($backgroundGradient, $thickness, $borderRadius) {
  content: '';
  position: absolute;
  inset: 0;
  padding: $thickness;
  border-radius: $borderRadius;
  background: $backgroundGradient;
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
  linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
